doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
        li
          a(href='/') Home
        li
          a(href='/country') Country
        li
          a(href='/countryData') Add a new country
        li
          a(href='/continent') Choose a continent
        li
          a(href='/city') Find a city
        li
          a(href='/lang') Find a language

    block content
